@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

html, body {
    height: 100%;
    margin: 0;
}

h3, h2 {
  margin: 3vh;
  color: #ce882c;
  text-decoration: underline;
}

#root {
    height: 100%;
    >div {
        height: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.site-description {
    flex: 1; 
    margin: 0 0.5rem;
}

.nav-bar {
    width: 100%;
    height: 4vh;
    background-color: rgb(255, 213, 164);
    display: flex;
    align-items: center;
    flex-shrink: 0; 
    a {
        margin: 0 2vh;
        color: rgb(54, 54, 54); 
    }
}

.hidden {
    display: none;
}

.spinner {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 10px auto;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  top: 40%;
  left: 50%;
  color: #155ce0;
}

.paging {
  button, input[type="button"] {
    min-width: 6vh;
    padding: 0.1rem;
    border-radius: 14px;
    background-color: transparent;
    border: none;
    color: rgb(49, 50, 58);
    font-size: 0.9rem;
    &:hover {
      cursor: pointer;
      background-color: #c6c8ce;
    }
  }
}
    


table, th, td {
    border: 2px solid rgb(48, 36, 32);
  }
  table {
    margin-bottom: 2vh;
    border-collapse: collapse;
    thead {
      tr {
        th {
          padding: 0.4rem;
          color: #5c3f01;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 0.6rem;
          color: #815317;
          a {
            color: #815317;
          }
        }
      }
    }
    button, input[type="button"] {
      min-width: 6vh;
      padding: 0.3rem;
      border-radius: 14px;
      background-color: #ce882c;
      border-color: #ac8142;
      color: rgb(255, 255, 255);
      font-size: 0.9rem;
      &:hover {
        cursor: pointer;
        background-color: #f3b734;
      }
    }
  }


//-------------CONTENT---------------

#publishers-container, #books-container, #authors-container {
  margin: 2vh;
  
}

.form-container {
  width: 10vw;
  margin: 2vh;
  background-color: #ffd28e;
  padding: 2vh 7vh;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.322);
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label {
    display: block;
    text-align: center;
    margin: 1rem 0;
  }
  input {
    border-radius: 10px;
    width: 100%;
    height: 2vh;
    padding: 0.3rem;
    outline: 1px solid black;
    border: 1px solid #cccccc; /* Set a border */
  font-family: Arial, sans-serif; /* Set a consistent font */
  font-size: 14px;
    input:focus {
      border-color: #ae00ff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  }
  button {
    margin: 2vh 0;
    width: 100%;
    height: 3vh;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
    background-color: #fa930c;
    &:hover {
      background-color: #ffaf46;
    }
  }
}