@use "sass:color";

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@mixin container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin form-box-styles {
  @include container-column;
  border: 2px solid rgb(99, 99, 99);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
  background-color: #dae0d7;
}

@mixin form-inputs-focus-styles {
  border: 2px solid #4f8aa1;
  outline: none;
  box-shadow: 0 0 5px #4f8aa1;
}

@mixin symbol-btn-style {
  background-color: transparent;
  font-weight: bold;
  font-size: 3rem;
  padding: 0 5px;
  line-height: 1;
  height: auto;
  width: auto;
  white-space: nowrap;
  border: none;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #fcf5e8;
}

h1, h2, h3, h4, h5, h6 {
  font-family:Arial, Helvetica, sans-serif;
}

a, th {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}

$nav-color: rgb(255, 213, 164);

html, body {
    height: 100%;
    margin: 0;
}

h3, h2 {
  margin: 3vh;
  color: #ce882c;
  text-decoration: underline;
}

#root {
    height: 100%;
    >div {
        height: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.hidden {
    display: none;
}

.over-layer-base {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 1000;
}

.section-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.4rem 0;
}

.section-row-start {
  display: flex;
  align-items: center;
  margin: 0.4rem 0;
}

.section-column {
  display: flex;
  flex-direction: column;
}

#current {
  background-color: #5a5a5a;
  &:hover {
    background-color: #5a5a5a;
  }
}
  
img {
    height: 150px;
    width: auto;
    
}
.error {
    color: #d8000c;
    background-color: #ffbaba;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.9rem
}

.buttons {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  min-width: 3.5rem;
  cursor: pointer;
}

.buttons-form {
  width: fit-content;
  margin-top: 1rem;
  padding: 0.5rem 1.2rem;
  background-color: #4f8aa1;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.menu-order-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 10px 12px;
  font-weight: bold;
  font-size: 16px;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
  &:hover {
    background-color: color.adjust(#FF0000, $lightness: 20%);
  }
}
.edit-btn {
  background-color: #3498db;
  color: white;
  &:hover {
    background-color: color.adjust(#3498db, $lightness: 8%);
  }
}

.create-btn {
  background-color: #28a745;
  color: white;
  &:hover {
    background-color: color.adjust(#28a745, $lightness: 8%);
  }
}

.create-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;

    &:hover {
        background-color: #218838;
    }
}


.add-btn {
  @include symbol-btn-style;
  color: green;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.remove-btn {
  @include symbol-btn-style;
  color: red;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.circle-buttons {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 16px;
  background-color: #7c6f61;
  transition: 0.4s all;
  &:hover {
    cursor: pointer;
    background-color: #584c41;
  }
}

#center-button {
  height: 1.9rem;
  width: 1.9rem;
  border-radius: 6px;
  background-color: #554734;
}

.site-description {
    flex: 1; 
    margin: 0 0.5rem;
}

.nav-bar {
    width: 100%;
    height: 4vh;
    background-color: $nav-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; 
    a {
        margin: 0 2vh;
        color: rgb(54, 54, 54); 
        &:hover {
          color: color.adjust($color: rgb(54, 54, 54), $lightness: 40%)
        }
    }
}

#nav-left-block {
  
}

#nav-right-block {

}

.spinner {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 10px auto;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  top: 40%;
  left: 50%;
  color: #155ce0;
}

.paging {
  button, input[type="button"] {
    min-width: 6vh;
    padding: 0.1rem;
    border-radius: 14px;
    background-color: transparent;
    border: none;
    color: rgb(49, 50, 58);
    font-size: 0.9rem;
    &:hover {
      cursor: pointer;
      background-color: #c6c8ce;
    }
  }
}
    


table, th, td {
    border: 2px solid rgb(48, 36, 32);
  }
  table {
    margin-bottom: 2vh;
    border-collapse: collapse;
    thead {
      tr {
        th {
          background-color: #d8ae70;
          padding: 0.4rem;
          color: #5c3f01;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 0.6rem;
          color: #815317;
          a {
            color: #815317;
          }
        }
      }
    }
    button, input[type="button"] {
      min-width: 6vh;
      padding: 0.3rem;
      border-radius: 14px;
      background-color: #ce882c;
      border-color: #ac8142;
      color: rgb(255, 255, 255);
      font-size: 0.9rem;
      &:hover {
        cursor: pointer;
        background-color: #f3b734;
      }
    }
  }


//-------------CONTENT---------------

#publishers-container, #books-container, #authors-container {
  margin: 2vh;
  select {
    margin: 2vh;
    width: 8vw;
    height: 3vh;
    background-color: $nav-color;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding-left: 1vh;
    &:hover {
      cursor: pointer;
      background-color: darken($color: $nav-color, $amount: 6);
    }
  }
  option {
    background-color: $nav-color;
  }
  label {
    
  }
}

.filter-block {
  display: flex;

  .section-row {
    margin-bottom: 0;
  }

  .section-column {
    margin-right: 1rem;
    label, p {
      margin-bottom: auto;
    }

    >p, >label {
      color: #633908;
    }
  }
  input {
    padding: 0.2rem;
    border-radius: 5px;
    border: 1px solid black;
  }

  p {
    margin: 0;
  }
}

.sort-container {
  button {
    padding: 0.3rem;
    background-color: #1dd689;
    border-radius: 8px;
    margin: 2vh;
    width: 5rem;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.form-container {
  width: 10vw;
  margin: 2vh;
  background-color: #ffd28e;
  padding: 2vh 7vh;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.322);
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label {
    display: block;
    text-align: center;
    margin: 1rem 0;
  }
  input {
    border-radius: 10px;
    width: 100%;
    height: 2vh;
    padding: 0.3rem;
    outline: 1px solid black;
    border: 1px solid #cccccc; /* Set a border */
  font-family: Arial, sans-serif; /* Set a consistent font */
  font-size: 14px;
    input:focus {
      border-color: #ae00ff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  }
  button {
    margin: 2vh 0;
    width: 100%;
    height: 3vh;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
    background-color: #fa930c;
    &:hover {
      background-color: #ffaf46;
    }
  }
}

#profile-container {
  background-color: rgb(255, 239, 216);
  border: 1px solid rgb(190, 164, 102);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 2rem;
  padding: 2rem;
  padding-top: 1rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.233);
  h3 {
    margin: 1rem;
  }
  p {
    color: #8b785a;
  }
}

#login-container {
  display: flex;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    h2 {
      text-align: center;
      margin: 1rem;
      margin-top: 2rem;
    }
    input {
      width: 100%;
      height: 1.2rem;
    }
  }
  .section-row {
    gap: 0.6rem;
  }
  button {
    margin: 0;
  }
}

#comics-container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comics-search-block {
  margin-bottom: 1rem;
  
}

.volume-row {
  &:hover td{
    opacity: 0.8;
    cursor: pointer;
    background-color: color.adjust($color: #f1e7d9, $lightness: -20%);
    color: black;
  }
}


#comic-issues-container {

  h3 {
    text-align: center;
    margin-bottom: 3rem;
  }
  #issues-card-container {
    display: flex;
    justify-content: center;

    .paging-btn-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      button {
        background-color: inherit;
        border: none;
        font-size: large;
        margin: 1rem;
        &:hover {
          cursor: pointer;
          color: #5a5a5a;
        }
      }
    }

    .issues-card-block {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      padding: 3rem 0;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }
}

.issue-card {
  display: flex;
  flex-direction: column;
  width: 10rem;
  div {
    display: flex;
    justify-content: center;
    position: relative;
    p {
      position: absolute;
      margin: 0;
      top: 2%;
      right: 12%;
      color: white;
      font-weight: bolder;
      background-color: rgb(68, 22, 99);
      border-radius: 10px;
      padding: 0 2px;
    }
  }
  img {
    width: auto;
    max-width: 11rem;
    height: 15rem;
    transition: 0.3s all;
    &:hover {
      cursor: pointer;
      box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.699);
    }
  }

  .issue-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines before overflow */
    -webkit-box-orient: vertical;
    width: inherit;
  }
}

#issue-form-container {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 30vw;
    h2 {
      text-align: center;
      margin: 0;
    }


    input {
      padding: 0.3rem;
    }

    input, textarea, button {
      width: 15vw;
    }
  }
}

.form-issue-name {
  font-style: italic;
  text-decoration: none;
  color: #5a5a5a;
}

.form-modal {
  background: rgb(107, 100, 92);
  padding: 1.5rem;
  padding-bottom: 2rem;
  padding-top: 0;
  h3 {

  }

  .rating-block {
    margin-bottom: 0.5rem;
    .rating-star {
      font-size: 2rem;
      color: white;
      padding-right: 0.2rem;
      &:hover {
        color: orange;
        cursor: pointer;
      }
    }

    .rating-star.selected {
      color: orange;
    }
  }

  textarea {
    height: 8rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    resize: none;
    overflow-y: auto;
    &:focus {
      outline: 4px solid rgb(37, 97, 153);
      //padding: calc(0.5rem - 2px) calc(0.5rem - 2px);
    }
  }


  .review-button-wrapper {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    button {
      padding: 0.4rem 2.5rem;
    }
  }
}